/*reset*/

body, div, h1, section, h3, ul, li {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit
}

a:hover {
  text-decoration: none;
  color: none;
	font-weight: bold;
}

ul {
  list-style: none;
}

/*clearfix*/

.group:after {
  content: "";
  display: block;
  clear: both;
}

/*body styles*/

body {
  background: #dde6e9;
  font-family: 'Raleway', sans-serif;
}

/*big container sizing and positioning*/

.container {
  width: 1050px;
  margin: 0 auto;
  height: 50px;
}

/*site title styles*/

.site-title {
  font-size: 90px;
  text-align: center;
  color: #2d342c;
  letter-spacing: 15px;
}

.contact-info {
  display: block;
  text-align: center;
  font-size: 20px;
	height: 24px;
}

/*content area styles*/

.content-area {
  width: 500px;
  margin: 600px auto;
  padding: 60px;
}

.content-area:first-child {
  margin-top: 100px;
}

.content-area-title {
  color: #2d342c;
  text-align: center;
  font-size: 50px;

}

.content {
  color: #2D342C;
}

.content p {
	font-size: 18px;
}

.project-title {
	color: #2d342c;
	font-size: 24px;
	margin-top: 200px;
}

.project-title a {
	font-size: 20px;
	font-weight: normal;
}

.project-title a:hover {
	font-weight: bold;
}

.demo-image {
	margin: 30px 100px 0 100px;
	width: 300px;
	height: auto;
}

.demo-image:hover {
	width: 500px;
	margin: 30px 0 0 0;
}

/*sidebar styles*/

.sidebar {
  width: 100px;
  
  position: fixed;
  top: 30%;
  padding: 30px;
}

.left {
	left: 0;
	border-right: 5px solid #2d342c;
}

.right {
	right: 0;
	border-left: 5px solid #2d342c;
}

.sidebar-title {
  margin-bottom: 20px;
}

.sidebar > ul {

}

.sidebar > ul > li {
  margin: 10px 0;
}